.TokenSelector .Modal .Modal-content {
    width: 42rem;
    position: absolute;
    max-height: 100vh;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border: none;
  }
  
  .TokenSelector .Modal .Modal-content .Modal-body {
    scroll-margin-right: 38.75rem;
    overscroll-behavior: smooth;
    scrollbar-width: thin;
    padding-right: 0.5rem;
    max-height: calc(100vh - 13rem);
    overflow-y: auto;
  }

  
@media (max-width: 1100px) {
    .TokenSelector .Modal .Modal-content {
      max-height: 80vh;
      min-height: 80vh;
      top: auto;
      bottom: auto;
      border-radius: 6px !important;
    }
  
    .TokenSelector .Modal .Modal-content .Modal-body {
      overflow-y: auto;
      max-height: calc(80vh - 13rem);
      padding-right: 0.5rem;
    }
  }
  
  @media (max-width: 700px) {
    .TokenSelector .Modal .Modal-content {
      bottom: 0;
      border-radius: 6px !important;
    }
  
    .TokenSelector.right .Modal {
      align-items: center;
      justify-content: center;
      position: fixed;
      left: 3.1rem;
      top: 0;
      right: 3.1rem;
      bottom: 0;
    }
    .Token-info .token-logo {
      width: 3rem;
      height: 3rem;
      margin-right: 0.8rem;
    }
  }
  
  .style-modal-select-tokens .Modal-title {
    text-align: left;
  }
  
  .style-modal-select-tokens .Modal-content {
    border-radius: 0 !important;
  }
  